/* Colors */
/* scheme id = 3s51Jw0w0w0w0 */
/* Colors */
/* Colors */
/* Colors */






body{
    background: url(img/background-track.jpg) top center no-repeat;
    background-size: cover;
    color: #BAB4A6;
    font: 18px "century gothic",verdana,arial,helvetica,sans-serif;
    font-weight:lighter;
}

#wrapper{
    margin: 0 auto;
}

div.cta{
    width: 100%;
    height: 400px;
    background: url(img/subi_1.jpg) center -300px no-repeat;
    box-shadow: 0 0 15px rgba(51,51,51,0.75);
}

div.subcta{
    width: 100%;
    margin-top: 15px;
}

div.features{
    height: 200px;
    float: left;
    border: 6px solid #333333;
    box-shadow: 0 0 15px rgba(51,51,51,0.75);
}

div.features button {
    border-color: #AB5337;
    letter-spacing: 2px;
    float: right;
    display: block;
    padding: 10px 10px;
    color: #ffffff;
    text-decoration: none;
    margin: 5px 10px 0 0;
    border-radius: 5px;
}

div.result{
    background-color: rgba(62,69,68,.75);
    height: 100%;
    float: left;
    margin-bottom: 10px;
    border: 6px solid #333333;
    box-shadow: 0 0 15px rgba(51,51,51,0.75);
}

div.result img{
    float:left;
}

div.result .btn{
    float:right;
}
div.result p{
    display:inline-block;
}

img.avatar{
    width: 20%;
}

a.alert.button.expand{
    background-color: #00a876;
}