/* Colors */
/* scheme id = 3s51Jw0w0w0w0 */
/* facebook= #3b5998 */
/* Colors */
/* Colors */


$text-color: #BAB4A6;
$font-stack: 18px "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
@mixin box-style{
    box-shadow: 0 0 15px rgba(51,51,51,0.75);
    background-color: rgba(1,72,105,.75);
}

body{
    background: url(img/background-track.jpg) top center no-repeat; 
    background-size: cover;
    color: $text-color;
    font: $font-stack;
    font-weight: lighter;
}

.logo{
    width: 18%;
}


#wrapper{
    margin: 0 auto;
}

div.cta{
    margin: 25px auto;
    width: 100%;
    height: 400px;
    background: url(img/clique-cta.jpg);
    background-size: cover;
    @include box-style;
    h1{
        font: bold 105px "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        color: #bab4a6;
        margin-left: 20px;
    }
    .searchbar{
        margin-top: 65px;
        margin-left: 650px;
        div{
        padding: 0 0 0 0;
            input{
                height:33px;
            }
            a{
                margin-right: 20px;
            }
        }
    }
}



div.subcta{
    margin-top: 15px;

    div.features{
    background-color: rgba(51,51,51,0.75);
    height: 200px;
    box-shadow: 0 0 15px rgba(51,51,51,0.75);
    padding: 0 10px 10px 10px;
    h3{
        font-size: 30px;
        text-shadow: 5px 0 15px rgba(51,51,51,0.75);
        color: #096F9F;
    }
    p{
        width: 250px;
        margin: 0 0 10px 0;
    }

    }
    div.last{
        p{
            margin-top: -7px;
        }
    }
}
 

input.login{
    margin-right: 60px;
    width: 130px;
    height: 29px;
}

div.result{ 
            float: left;
            margin-bottom: 10px;
            color: #333333;
            padding: 10px 10px 10px 10px;
            @include box-style;
            h2{
                
            }
            .img{
                padding: 0 0 0 0;
            }
            .content{
                background-color: #ADADAD; 
            }
            .btn{
                padding: 0 0 0 0;
                margin: 10px 0 0 0;
                float:right;
                position: relative;
                z-index: 1;
            }
            .view{
                margin: 0 0 0 0;
            }
            p{
                margin-top: -10px;
                margin-bottom: 10px;
                font: 14px "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
                display:inline-block;
            }
        }

        a.alert.button.expand{
            background-color: #00a876;
        }

div.login{
    background-color: #ADADAD;
    border: 20px solid #096F9F;

    a{
        margin: 20px 0 0 0;
    }

    input{
        margin-bottom: 15px;
    }

    .fb.alert.button.expand{
        background-color: #3b5998;
    }

    .lg{
        margin-bottom: 20px;
    }

}

img.avatar{
    width: 20%;
}
