/* Colors */
/* scheme id = 3s51Jw0w0w0w0 */
/* facebook= #3b5998 */
/* Colors */
/* Colors */
body {
  background: url(img/background-track.jpg) top center no-repeat;
  background-size: cover;
  color: #bab4a6;
  font: 18px "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: lighter;
}

.logo {
  width: 18%;
}

#wrapper {
  margin: 0 auto;
}

div.cta {
  margin: 25px auto;
  width: 100%;
  height: 400px;
  background: url(img/clique-cta.jpg);
  background-size: cover;
  box-shadow: 0 0 15px rgba(51, 51, 51, 0.75);
  background-color: rgba(1, 72, 105, 0.75);
}
div.cta h1 {
  font: bold 105px "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #bab4a6;
  margin-left: 20px;
}
div.cta .searchbar {
  margin-top: 65px;
  margin-left: 650px;
}
div.cta .searchbar div {
  padding: 0 0 0 0;
}
div.cta .searchbar div input {
  height: 33px;
}
div.cta .searchbar div a {
  margin-right: 20px;
}

div.subcta {
  margin-top: 15px;
}
div.subcta div.features {
  background-color: rgba(51, 51, 51, 0.75);
  height: 200px;
  box-shadow: 0 0 15px rgba(51, 51, 51, 0.75);
  padding: 0 10px 10px 10px;
}
div.subcta div.features h3 {
  font-size: 30px;
  text-shadow: 5px 0 15px rgba(51, 51, 51, 0.75);
  color: #096F9F;
}
div.subcta div.features p {
  width: 250px;
  margin: 0 0 10px 0;
}
div.subcta div.last p {
  margin-top: -7px;
}

input.login {
  margin-right: 60px;
  width: 130px;
  height: 29px;
}

div.result {
  float: left;
  margin-bottom: 10px;
  color: #333333;
  padding: 10px 10px 10px 10px;
  box-shadow: 0 0 15px rgba(51, 51, 51, 0.75);
  background-color: rgba(1, 72, 105, 0.75);
}
div.result .img {
  padding: 0 0 0 0;
}
div.result .content {
  background-color: #ADADAD;
}
div.result .btn {
  padding: 0 0 0 0;
  margin: 10px 0 0 0;
  float: right;
  position: relative;
  z-index: 1;
}
div.result .view {
  margin: 0 0 0 0;
}
div.result p {
  margin-top: -10px;
  margin-bottom: 10px;
  font: 14px "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  display: inline-block;
}

a.alert.button.expand {
  background-color: #00a876;
}

div.login {
  background-color: #ADADAD;
  border: 20px solid #096F9F;
}
div.login a {
  margin: 20px 0 0 0;
}
div.login input {
  margin-bottom: 15px;
}
div.login .fb.alert.button.expand {
  background-color: #3b5998;
}
div.login .lg {
  margin-bottom: 20px;
}

img.avatar {
  width: 20%;
}
